rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null &&
        (request.auth.token.admin == true || request.auth.token.email == "cchughiefe@gmail.com");
    }
    match /products/{productId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /orders/{orderId} {
      allow read: if isAdmin()
        || (request.auth != null && resource.data.userId == request.auth.uid)
        || (request.auth != null
          && request.auth.token.email_verified == true
          && resource.data.customer.email == request.auth.token.email);
      allow create, update, delete: if false;
    }
    match /publicOrders/{orderRef} {
      allow read, write: if false;
    }
    match /settings/{settingId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
  }
}
